<template>
    <div class="container-fluid">
        <div v-for="board in boards" :key="board.id" class="card">
            <board :board="board"></board>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Home',
        data: function() {
            return {
                boards: null,
                showModal: false
            }
        },
        methods: {
            loadBoards: function() {
                axios.get('/api/board').then(res => {
                    this.$data.boards = res.data
                }).catch(err => {
                    console.log(err)
                })
            },
        },
        mounted: async function () {
            await checkLogin()
            this.loadBoards()
        }
    }
</script>
