// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './components/modal.scss';


.flex-row {
    display: flex;
    display: -ms-flexbox;
    overflow-x: auto;
}

.list-group .list-group-item {
    cursor: pointer;
}

textarea.form-control {
    height: 75px;
}

.column-item {
    width: 300px;
    margin-right: .2rem;
}
