<template>
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">{{ board.title }}</h4>
        </div>
        <div class="card-body">
            <div class="flex-row">
                <draggable class="d-flex" :list="columns" :animation="300" group="columns" @end="columnsOrdered">
                    <column v-for="column in columns" :key="column.id" :column="column" :board="board" v-on:delete="deleteColumn"></column>
                </draggable>
                <div class="card col-sm-3">
                    <div class="card-header">
                        <div>New Column</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="column-title">Column Title</label>
                            <input v-model="newColumnTitle" type="email" class="form-control mt-1" id="column-title" aria-describedby="emailHelp" placeholder="Enter Title">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="container-fluid d-flex justify-content-end p-0">
                            <button v-on:click="createNewColumn" class="btn btn-primary mx-0">Create Column</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Column from './Column.vue'
    export default {
  components: { Column },
        data: function() {
            return {
                title: null,
                newColumnTitle: '',
                columns: []
            }
        },
        props: [
            'board'
        ],
        methods: {
            createNewColumn: function() {
                axios.post(`/api/board/${this.$props.board.id}/column`, {
                    title: this.$data.newColumnTitle
                }).then(res => {
                    this.$data.columns.push(res.data)
                }).catch(err => {

                })
                this.$data.newColumnTitle = ''
            },
            loadColumns: function() {
                axios.get(`/api/board/${this.$props.board.id}/column`).then(res => {
                    this.$data.columns = res.data
                }).catch(err => {
                    console.error(err)
                })
            },
            deleteColumn: function(column_id) {
                this.$data.columns = this.$data.columns.filter(column => column.id != column_id)
            },
            columnsOrdered: function(evt) {
                axios.post(`/api/board/${this.$props.board.id}/column/order`, {
                    columns: this.$data.columns
                }).then(res => {

                }).catch(err => {

                })
            },

        },
        beforeMount: function() {
            this.loadColumns();
        }
    }
</script>
