<template>
    <div>
        <modal v-if="showModal">
            <template v-slot:header>
                <h5 class="text-center">Create new card</h5>
            </template>
            <template v-slot:body>
                <div class="form-group">
                    <label for="new-card-title">Title</label>
                    <input type="text" id="new-card-title" class="form-control" v-model="newCardTitle">
                </div>
                <div class="form-group mt-3">
                    <label for="new-card-description">Description</label>
                    <textarea id="new-card-description" class="form-control" v-model="newCardDescription"></textarea>
                </div>
            </template>
            <template class="d-flex justify-between" v-slot:footer>
                <button v-on:click="deleteCard" class="btn btn-warning">Delete Card</button>
                <div>
                    <button v-on:click="showModal = false" class="btn btn-danger">Close</button>
                    <button v-on:click="updateCard" class="btn btn-primary">Update Card</button>
                </div>
            </template>
        </modal>
        <li class="list-group-item mt-1" v-on:click="showCard">{{ card.title }}</li>
    </div>
</template>

<script>
    export default {
        props: [
            'card',
            'column',
            'board',
        ],
        data: function() {
            return {
                showModal: false,
                newCardTitle: '',
                newCardDescription: ''
            }
        },
        methods: {
            showCard: function() {
                this.$data.newCardTitle = this.$props.card.title
                this.$data.newCardDescription = this.$props.card.description
                this.$data.showModal = true
            },
            deleteCard: function() {
                axios.post(`/api/column/${this.$props.column.id}/card/${this.$props.card.id}`, {
                    _method: 'DELETE'
                }).then(res => {
                    this.$emit('delete', this.$props.card.id)
                }).catch(err => {
                    console.error(err)
                }).finally(() => {
                    this.$data.showModal = false
                })
            },
            updateCard: function() {
                axios.post(`/api/column/${this.$props.column.id}/card/${this.$props.card.id}`, {
                    _method: 'PUT',
                    title: this.$data.newCardTitle,
                    description: this.$data.newCardDescription
                }).then(res => {
                    console.log(res)
                }).catch(err => {
                    console.error(err)
                })
                this.$props.card.title = this.$data.newCardTitle
                this.$props.card.description = this.$data.newCardDescription
                this.$data.showModal = false;
            }
        }
    }
</script>
