<template>
    <div class="card column-item">
        <modal v-if="showModal">
            <template v-slot:header>
                <h5 class="text-center">Create new card</h5>
            </template>
            <template v-slot:body>
                <div class="form-group">
                    <label for="new-card-title">Title</label>
                    <input type="text" id="new-card-title" class="form-control" v-model="newCardTitle">
                </div>
                <div class="form-group mt-3">
                    <label for="new-card-description">Description</label>
                    <textarea id="new-card-description" class="form-control" v-model="newCardDescription"></textarea>
                </div>
            </template>
            <template class="d-flex justify-between" v-slot:footer>
                <button v-on:click="closeModal" class="btn btn-danger">Close</button>
                <button v-on:click="createCard" class="btn btn-primary">Create Card</button>
            </template>
        </modal>
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <span>{{ column.title }}</span>
                <button class="btn btn-sm btn-danger" v-on:click="deleteColumn">Delete</button>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <draggable :list="cards" :animation="300" group="cards" :column="column.id" @end="cardsOrdered">
                    <card v-for="card in cards" :card="card" :column="column" v-on:delete="deleteCard" :key="card.id"></card>
                </draggable>
                <button class="btn btn-primary w-100 mt-3" v-on:click="showModal = true">+ New Card</button>
            </ul>
        </div>
    </div>
</template>

<script>
    import Card from './Card.vue'
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
            Card
        },
        props: [
            'column',
            'board'
        ],
        data: function() {
            return {
                cards: [],
                showModal: false,
                newCardTitle: '',
                newCardDescription: ''
            }
        },
        methods: {
            createCard: function() {
                axios.post(`/api/column/${this.$props.column.id}/card`, {
                    title: this.$data.newCardTitle,
                    description: this.$data.newCardDescription,
                    column_id: this.$props.column.id
                }).then( res => {
                    this.$data.cards.push(res.data)
                }).catch((err) => {
                }).finally(() => {
                    this.$data.newCardTitle = ''
                    this.$data.newCardDescription = ''
                    this.$data.showModal = false
                })
            },
            closeModal: function() {
                this.$data.newCardTitle = ''
                this.$data.newCardDescription = ''
                this.$data.showModal = false
            },
            deleteCard : function(card_id) {
                this.$data.cards = this.$data.cards.filter(card => card.id != card_id)
            },
            deleteColumn: function() {
                axios.post(`/api/board/${this.$props.board.id}/column/${this.$props.column.id}`, {
                    _method: 'DELETE'
                }).then(res => {
                }).catch(err => {
                    console.error(err)
                }).finally(() => {
                    this.$data.showModal = false
                })
            },
            cardsOrdered: function(evt) {
                let order_stack = evt.to.__vue__.$attrs.column
                axios.post(`/api/column/${order_stack}/card/order`, {
                    card: evt.item._underlying_vm_.id,
                    to: order_stack,
                    index: evt.newIndex
                }).then(res => {
                }).catch(err => {
                })
            }
        },
        beforeMount: function() {
            // load cards
            axios.get(`/api/column/${this.$props.column.id}/card`).then(res => {
                this.$data.cards = res.data
            }).catch(err => {
                console.log(err)
            })
        }
    }
</script>
