<template>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <modal v-if="showUserTokenModal">
            <template v-slot:header>
                <h3 class="text-center text-dark">Your User Token</h3>
            </template>
            <template v-slot:body>
                <h4 class="text-center my-3">{{ user_token }}</h4>
                <div class="bd-callout bd-callout-warning text-center">
                    <p>When making a request user the token as <strong>Authorization: Bearer</strong>.</p>
                </div>
            </template>
            <template class="d-flex" v-slot:footer>
                <button v-on:click="closeModal" class="btn btn-danger">Close</button>
            </template>
        </modal>
        <!-- Left Side Of Navbar -->
        <ul v-if="loggedIn" class="navbar-nav me-auto">
            <li>
                <a href="/db-down" target="__blank" class="nav-link">Download DB</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <div class="d-flex" v-if="!loggedIn">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </div>
            <li v-else class="nav-item dropdown">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" v-on:click="showToken">Show User Token</button>
                    <a class="dropdown-item" v-on:click="logout" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>


    export default {
        data: function() {
            return {
                loggedIn: false,
                user: {
                    name: "User name"
                },
                user_token: '',
                showUserTokenModal: false
            }
        },
        methods: {
            logout: function() {
                axios.post('/logout').then((result) => {
                }).catch((err) => {
                }).finally(() => {
                    localStorage.removeItem('user')
                    window.location.assign('/login')
                })
            },
            closeModal: function() {
                this.$data.showUserTokenModal = false
            },
            showToken: function() {
                this.$data.showUserTokenModal = true
            }
        },
        mounted: function() {
            let user = localStorage.getItem('user');
            if(user) {
                user = JSON.parse(user)
                this.$data.loggedIn = true
                this.$data.user = user.user
                this.$data.user_token = user.token
            }
        }
    }
</script>
