<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <label for="email" class="col-md-4 col-form-label text-md-end">Email Address</label>

                            <div class="col-md-6">
                                <input v-if="email_error" v-model="email" v-on:change="emailChanged" v-on:input="emailChanged" id="email" type="email" class="form-control is-invalid" name="email" required autocomplete="email" autofocus>
                                <input v-else v-model="email" v-on:change="emailChanged" v-on:input="emailChanged" id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>
                                <span class="invalid-feedback" role="alert">
                                    <strong>{{ email_error }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>

                            <div class="col-md-6">
                                <input v-if="password_error" v-model="password" v-on:change="passwordChanged" v-on:input="passwordChanged" id="password" type="password" class="form-control is-invalid" name="password" required autocomplete="current-password">
                                <input v-else v-model="password" v-on:change="passwordChanged" v-on:input="passwordChanged" id="password" type="password" class="form-control" name="password" required autocomplete="current-password">
                                <span v-if="password_error" class="invalid-feedback" role="alert">
                                    <strong>{{ password_error }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button v-on:click="login" type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Login',
        data: () => {
            return {
                email: '',
                password: '',
                email_error: false,
                password_error: false
            }
        },
        methods:  {
            login: function() {
                axios.post('/api/login', {
                    email: this.$data.email,
                    password: this.$data.password
                }).then(result => {
                    localStorage.setItem('user', JSON.stringify(result.data));
                    window.location.assign('/home')
                }).catch(err => {
                    let data = err.response.data
                    if(data.errors && data.errors.email) {
                        this.$data.email_error = data.errors.email[0];
                    } else if(data.errors && data.errors.password) {
                        this.$data.password_error = data.errors.password[0];
                    }
                })
            },
            emailChanged: function() {
                this.$data.email_error = false
            },
            passwordChanged: function() {
                this.$data.password_error = false
            },
            logout: function() {

            }
        },
        mounted: function() {

        },
        beforeMount: function() {
            // check if already logged in
            let user  = localStorage.getItem('user')
            if(user) {
                axios.get('/api/user').then(res => {
                    window.location.assign('/home')
                }).catch(err => {

                })
            }
        }


    }
</script>
