<template>

</template>
<script>
    export default {
        mounted() {
            console.log('Loaded Register')
        },
        beforeMount: function() {
            // check if already logged in
            let user  = localStorage.getItem('user')
            if(user) {
                axios.get('/api/user').then(res => {
                    window.location.assign('/home')
                }).catch(err => {

                })
            }
        }
    }
</script>
